@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  height: 100%;
}
ul,
li,
ol {
  list-style: none;
}
button {
  border: none;
  background-color: initial;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: #02a28f;
  padding: 10px;
  margin-bottom: 30px;
}
.header__list ul {
  display: flex;
}
.header__right {
  display: flex;
}
.header__list ul li {
  font-size: 22px;
  margin-right: 3rem;
}
.header__list ul li a {
  color: #fff;
  transition: 0.3s;
}
.header__list ul li a:hover {
  color: #d9d9d9;
}
.header__search-button button svg path {
  transition: 0.3s;
}
.header__search-button:hover button svg path {
  fill: #d9d9d9;
}
.main {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}
.main__left-side {
  display: flex;
  flex-direction: column;
  width: 46%;
}
.banner {
  background-color: #d9d9d9;
  width: 744px;
  height: 396px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.banner__text {
  margin: 20px;
}
.bolder {
  font-weight: 600;
}
.line {
  width: 744px;
  height: 48px;
  background-color: #02a28f;
  border-radius: 10px;
  margin: 20px;
  margin-left: 0;
  color: #fff;
  padding: 10px;
}
.line__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.box {
  width: 360px;
  height: 396px;
  margin-right: 24px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  border-radius: 10px;
  cursor: pointer;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
}
.box__half {
  width: 360px;
  height: 191px;
  border-radius: 10px;
  background-color: #d9d9d9;
}
.green {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #02a28f;
  margin: 2px;
  margin-top: 4px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.author {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
  margin-bottom: 14px;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 14px;
}
.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
}
.text-main {
  padding: 11px;
}
.main__right-side {
  width: 20%;
  margin-left: 0;
}
.right_side {
  display: flex;
  flex-direction: column;
}
.line2 {
  width: 360px;
  height: 48px;
  background: #02a28f;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.line2__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.square {
  display: flex;
  width: 360px;
  height: 96px;
  cursor: pointer;
}
.half-square {
  width: 132px;
  height: 70px;
  background: #d9d9d9;
  border-radius: 10px;
  margin: 12px;
}
.text__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 8px;
}
.text__part {
  padding: 13px;
  width: 360px;
  height: 96px;
  background: #ffffff;
  border-radius: 10px;
}
.date2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #616161;
}
.line3 {
  width: 360px;
  height: 48px;
  background: #02a28f;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
}
.line3__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.one {
  width: 360px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.footer {
  width: 100%;
  height: 48px;
  background: #02a28f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
